<ul class="pills">
  <li class="active"><a href="#" id="highlights">Destaques</a></li>
  <li><a href='#' id="most_downloaded">Mais Baixados</a></li>
</ul>
<div id="message">
</div>
<div id="subtitles">
</div>
