<ul id="subtitles-list">
  {{#list}}
    <li>
      <div class="subtitle">
        <img src="{{subtitle_image}}" alt="{{title}}">
        <div class="info">
          <p class="title">{{title}}</p>
          <img src="{{team_image}}" alt="{{team_name}}" class="madeby">
        </div>
      </div>
    </li>
  {{/list}}
</ul>